<h1 class="my-3">
  <%= @article.title %>
</h1>

<p>
  <%= @article.content %>
</p>

<p>
  <%= link_to "Edit this article", edit_article_path(@article) %>
</p>
<p>
  <%= link_to "Delete this article", article_path(@article),
  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete '#{@article.title}'?" } %>
</p>
<p>
  <%= link_to "Go back to homepage", articles_path %>
</p>
